@layer theme, base, clerk, components, utilities;
@import "tailwindcss";

:root {
  --background: #f7f5f0;
  --foreground: #3d3b30;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-imperial-blue: #03256c;
  --color-aquamarine: #8be8cb;
  --color-rosy-taupe: #ca907e;
  --color-granite: #3e6259;
  --color-charcoal-brown: #3d3b30;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #e2e8f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, "Inter", "Segoe UI", system-ui, -apple-system,
        "Helvetica Neue", Arial, sans-serif);
}
